:root {
  --ks-ref-text-fontFamily-display: TikTok Sans Display, TikTok Display, TikTok Sans Text, TikTok Text, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  --ks-ref-text-fontFamily-text: TikTok Sans Text, TikTok Text, TikTok Sans Display, TikTok Display, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  --ks-ref-text-weight-regular: 400 !important;
  --ks-ref-text-weight-medium: 500 !important;
  --ks-ref-color-white: white !important;
  --ks-ref-color-primary-150: #001c1b !important;
  --ks-ref-color-primary-200: #002c2b !important;
  --ks-ref-color-primary-250: #003b3a !important;
  --ks-ref-color-primary-300: #004a48 !important;
  --ks-ref-color-primary-350: #005a58 !important;
  --ks-ref-color-primary-400: #006b68 !important;
  --ks-ref-color-primary-450: #017976 !important;
  --ks-ref-color-primary-500: #009995 !important;
  --ks-ref-color-primary-550: #00a5a0 !important;
  --ks-ref-color-primary-650: #31bdb8 !important;
  --ks-ref-color-primary-750: #6fd5d1 !important;
  --ks-ref-color-primary-850: #9ee1dd !important;
  --ks-ref-color-primary-900: #c3e9e7 !important;
  --ks-ref-color-primary-950: #d7f2f0 !important;
  --ks-ref-color-primary-975: #e8fbf9 !important;
  --ks-ref-color-primary-995: #f2fdfc !important;
  --ks-ref-color-primary-1000: white !important;
  --ks-ref-color-support-150: #15142b !important;
  --ks-ref-color-support-200: #221f4b !important;
  --ks-ref-color-support-250: #2e286a !important;
  --ks-ref-color-support-300: #3a3086 !important;
  --ks-ref-color-support-350: #473aa5 !important;
  --ks-ref-color-support-400: #5548bd !important;
  --ks-ref-color-support-450: #665cd6 !important;
  --ks-ref-color-support-500: #8078f6 !important;
  --ks-ref-color-support-550: #8987f6 !important;
  --ks-ref-color-support-650: #a1a1fa !important;
  --ks-ref-color-support-750: #babdff !important;
  --ks-ref-color-support-850: #cdcfff !important;
  --ks-ref-color-support-900: #dcdeff !important;
  --ks-ref-color-support-950: #e9ebff !important;
  --ks-ref-color-support-975: #f5f4ff !important;
  --ks-ref-color-support-995: #fbfaff !important;
  --ks-ref-color-support-1000: white !important;
  --ks-ref-color-neutral-150: #121415 !important;
  --ks-ref-color-neutral-200: #262627 !important;
  --ks-ref-color-neutral-250: #343435 !important;
  --ks-ref-color-neutral-300: #404142 !important;
  --ks-ref-color-neutral-350: #4f5051 !important;
  --ks-ref-color-neutral-400: #5e5f61 !important;
  --ks-ref-color-neutral-450: #6d6e70 !important;
  --ks-ref-color-neutral-500: #87898b !important;
  --ks-ref-color-neutral-550: #929496 !important;
  --ks-ref-color-neutral-650: #a9abac !important;
  --ks-ref-color-neutral-750: #c3c4c5 !important;
  --ks-ref-color-neutral-850: #d3d4d5 !important;
  --ks-ref-color-neutral-900: #e1e1e2 !important;
  --ks-ref-color-neutral-950: #ececed !important;
  --ks-ref-color-neutral-975: #f2f3f3 !important;
  --ks-ref-color-neutral-995: #f8f8f9 !important;
  --ks-ref-color-neutral-1000: white !important;
  --ks-ref-color-error-150: #2b0e07 !important;
  --ks-ref-color-error-200: #4e0c0b !important;
  --ks-ref-color-error-250: #680e13 !important;
  --ks-ref-color-error-300: #801118 !important;
  --ks-ref-color-error-350: #9b1720 !important;
  --ks-ref-color-error-400: #b51d27 !important;
  --ks-ref-color-error-450: #ca242e !important;
  --ks-ref-color-error-500: #ef504b !important;
  --ks-ref-color-error-550: #f4655b !important;
  --ks-ref-color-error-650: #f78a7e !important;
  --ks-ref-color-error-750: #ffafa3 !important;
  --ks-ref-color-error-850: #ffc6bd !important;
  --ks-ref-color-error-900: #ffd8d2 !important;
  --ks-ref-color-error-950: #ffe7e3 !important;
  --ks-ref-color-error-975: #fff2f0 !important;
  --ks-ref-color-error-995: #fff9f8 !important;
  --ks-ref-color-error-1000: white !important;
  --ks-ref-color-warning-150: #201507 !important;
  --ks-ref-color-warning-200: #342209 !important;
  --ks-ref-color-warning-250: #462f08 !important;
  --ks-ref-color-warning-300: #573b09 !important;
  --ks-ref-color-warning-350: #68490b !important;
  --ks-ref-color-warning-400: #7a580e !important;
  --ks-ref-color-warning-450: #8d670b !important;
  --ks-ref-color-warning-500: #ad821a !important;
  --ks-ref-color-warning-550: #ba8b04 !important;
  --ks-ref-color-warning-650: #d2a106 !important;
  --ks-ref-color-warning-750: #f0c133 !important;
  --ks-ref-color-warning-850: #fad253 !important;
  --ks-ref-color-warning-900: #fbde89 !important;
  --ks-ref-color-warning-950: #fbebbc !important;
  --ks-ref-color-warning-975: #fdf5da !important;
  --ks-ref-color-warning-995: #fffbec !important;
  --ks-ref-color-warning-1000: white !important;
  --ks-ref-color-success-150: #051c06 !important;
  --ks-ref-color-success-200: #052d0f !important;
  --ks-ref-color-success-250: #033d15 !important;
  --ks-ref-color-success-300: #034c1c !important;
  --ks-ref-color-success-350: #035d23 !important;
  --ks-ref-color-success-400: #056e2b !important;
  --ks-ref-color-success-450: #057e33 !important;
  --ks-ref-color-success-500: #2a9c49 !important;
  --ks-ref-color-success-550: #35a752 !important;
  --ks-ref-color-success-650: #55bd69 !important;
  --ks-ref-color-success-750: #7ad889 !important;
  --ks-ref-color-success-850: #99e4a2 !important;
  --ks-ref-color-success-900: #baecbf !important;
  --ks-ref-color-success-950: #ddf9df !important;
  --ks-ref-color-success-975: #e7fde8 !important;
  --ks-ref-color-success-995: #effff0 !important;
  --ks-ref-color-success-1000: white !important;
  --ks-ref-color-indigo-150: #0F162D !important;
  --ks-ref-color-indigo-200: #1C2541 !important;
  --ks-ref-color-indigo-250: #263157 !important;
  --ks-ref-color-indigo-300: #2F3D6F !important;
  --ks-ref-color-indigo-350: #37498D !important;
  --ks-ref-color-indigo-400: #4156A8 !important;
  --ks-ref-color-indigo-450: #4D65C3 !important;
  --ks-ref-color-indigo-500: #6480E6 !important;
  --ks-ref-color-indigo-550: #728DEC !important;
  --ks-ref-color-indigo-650: #95AEFE !important;
  --ks-ref-color-indigo-750: #AAC4FC !important;
  --ks-ref-color-indigo-850: #C2D5FB !important;
  --ks-ref-color-indigo-900: #D6E2FA !important;
  --ks-ref-color-indigo-950: #E3EEFF !important;
  --ks-ref-color-indigo-975: #F0F6FF !important;
  --ks-ref-color-indigo-995: #F8FBFF !important;
  --ks-ref-color-blue-150: #001A2B !important;
  --ks-ref-color-blue-200: #012B3E !important;
  --ks-ref-color-blue-250: #003953 !important;
  --ks-ref-color-blue-300: #044765 !important;
  --ks-ref-color-blue-350: #00577D !important;
  --ks-ref-color-blue-400: #006697 !important;
  --ks-ref-color-blue-450: #0074A6 !important;
  --ks-ref-color-blue-500: #2D94C8 !important;
  --ks-ref-color-blue-550: #3D9FD4 !important;
  --ks-ref-color-blue-650: #7CC0ED !important;
  --ks-ref-color-blue-750: #98CCF0 !important;
  --ks-ref-color-blue-850: #B0DBFA !important;
  --ks-ref-color-blue-900: #CAE6FC !important;
  --ks-ref-color-blue-950: #E3F3FF !important;
  --ks-ref-color-blue-975: #EDF7FE !important;
  --ks-ref-color-blue-995: #F7FBFF !important;
  --ks-ref-color-pink-150: #20111F !important;
  --ks-ref-color-pink-200: #331E31 !important;
  --ks-ref-color-pink-250: #442942 !important;
  --ks-ref-color-pink-300: #533451 !important;
  --ks-ref-color-pink-350: #664163 !important;
  --ks-ref-color-pink-400: #784D75 !important;
  --ks-ref-color-pink-450: #8B5A88 !important;
  --ks-ref-color-pink-500: #AA72A7 !important;
  --ks-ref-color-pink-550: #B87BB4 !important;
  --ks-ref-color-pink-650: #D19DCD !important;
  --ks-ref-color-pink-750: #DAB6D7 !important;
  --ks-ref-color-pink-850: #E3CBE1 !important;
  --ks-ref-color-pink-900: #EBDCE9 !important;
  --ks-ref-color-pink-950: #F2EAF1 !important;
  --ks-ref-color-pink-975: #F7F4F7 !important;
  --ks-ref-color-pink-995: #FCFAFB !important;
  --ks-ref-color-orange-150: #280F03 !important;
  --ks-ref-color-orange-200: #3B1E0E !important;
  --ks-ref-color-orange-250: #4F2913 !important;
  --ks-ref-color-orange-300: #623216 !important;
  --ks-ref-color-orange-350: #773E1D !important;
  --ks-ref-color-orange-400: #8D4921 !important;
  --ks-ref-color-orange-450: #A45626 !important;
  --ks-ref-color-orange-500: #C86D37 !important;
  --ks-ref-color-orange-550: #D7763E !important;
  --ks-ref-color-orange-650: #F69C6B !important;
  --ks-ref-color-orange-750: #F6B28E !important;
  --ks-ref-color-orange-850: #F7C9B1 !important;
  --ks-ref-color-orange-900: #F8DBCC !important;
  --ks-ref-color-orange-950: #F9E9E1 !important;
  --ks-ref-color-orange-975: #FBF3EF !important;
  --ks-ref-color-orange-995: #FDFAF8 !important;
  --ks-transition-easing-standardIn: cubic-bezier(0.32, 0, 0.67, 0) !important;
  --ks-transition-easing-standardOut: cubic-bezier(0.33, 1, 0.68, 1) !important;
  --ks-transition-easing-standardInOut: cubic-bezier(0.4, 0, 0.2, 1) !important;
  --ks-spacing-0: 0 !important;
  --ks-spacing-50: 2px !important;
  --ks-spacing-100: 4px !important;
  --ks-spacing-150: 6px !important;
  --ks-spacing-200: 8px !important;
  --ks-spacing-250: 10px !important;
  --ks-spacing-300: 12px !important;
  --ks-spacing-400: 16px !important;
  --ks-spacing-500: 20px !important;
  --ks-spacing-600: 24px !important;
  --ks-spacing-700: 28px !important;
  --ks-spacing-800: 32px !important;
  --ks-spacing-900: 36px !important;
  --ks-spacing-1000: 40px !important;
  --ks-spacing-1200: 48px !important;
  --ks-spacing-1400: 56px !important;
  --ks-spacing-1600: 64px !important;
  --ks-spacing-1800: 72px !important;
  --ks-spacing-2000: 80px !important;
  --ks-spacing-2200: 88px !important;
  --ks-spacing-2400: 96px !important;
  --ks-border-radius-sm: 2px !important;
  --ks-border-radius-md: 4px !important;
  --ks-border-radius-lg: 6px !important;
  --ks-border-radius-xl: 8px !important;
  --ks-border-radius-full: 9999px !important;
  --ks-border-radius-innerMd: 3px !important;
  --ks-elevation-shadow-level1: 0 2px 8px 0 rgba(0, 0, 0, 0.12) !important;
  --ks-elevation-shadow-level2: 0 0 12px 0 rgba(0, 0, 0, 0.12) !important;
  --ks-elevation-shadow-level3: 0 8px 20px 0 rgba(0, 0, 0, 0.12) !important;
  --ks-elevation-shadow-level4: 0 8px 28px 0 rgba(0, 0, 0, 0.12) !important;
  --ks-text-headlineLg-fontSize: 32px !important;
  --ks-text-headlineLg-lineHeight: 40px !important;
  --ks-text-headlineLg-fontWeight: 500 !important;
  --ks-text-headlineLg-letterSpacing: 0 !important;
  --ks-text-headlineLg-fontFamily: var(--ks-ref-text-fontFamily-display) !important;
  --ks-text-headlineMd-fontSize: 24px !important;
  --ks-text-headlineMd-lineHeight: 32px !important;
  --ks-text-headlineMd-fontWeight: 500 !important;
  --ks-text-headlineMd-letterSpacing: 0.24px !important;
  --ks-text-headlineMd-fontFamily: var(--ks-ref-text-fontFamily-display) !important;
  --ks-text-headlineSm-fontSize: 20px !important;
  --ks-text-headlineSm-lineHeight: 28px !important;
  --ks-text-headlineSm-fontWeight: 500 !important;
  --ks-text-headlineSm-letterSpacing: 0.3px !important;
  --ks-text-headlineSm-fontFamily: var(--ks-ref-text-fontFamily-display) !important;
  --ks-text-titleLg-fontSize: 18px !important;
  --ks-text-titleLg-lineHeight: 26px !important;
  --ks-text-titleLg-fontWeight: 500 !important;
  --ks-text-titleLg-letterSpacing: 0.03px !important;
  --ks-text-titleLg-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-titleMd-fontSize: 16px !important;
  --ks-text-titleMd-lineHeight: 24px !important;
  --ks-text-titleMd-fontWeight: 500 !important;
  --ks-text-titleMd-letterSpacing: 0.03px !important;
  --ks-text-titleMd-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-titleSm-fontSize: 14px !important;
  --ks-text-titleSm-lineHeight: 20px !important;
  --ks-text-titleSm-fontWeight: 500 !important;
  --ks-text-titleSm-letterSpacing: 0.09px !important;
  --ks-text-titleSm-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-bodyLg-fontSize: 18px !important;
  --ks-text-bodyLg-lineHeight: 26px !important;
  --ks-text-bodyLg-fontWeight: 400 !important;
  --ks-text-bodyLg-letterSpacing: 0.03px !important;
  --ks-text-bodyLg-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-bodyMd-fontSize: 16px !important;
  --ks-text-bodyMd-lineHeight: 24px !important;
  --ks-text-bodyMd-fontWeight: 400 !important;
  --ks-text-bodyMd-letterSpacing: 0.03px !important;
  --ks-text-bodyMd-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-bodySm-fontSize: 14px !important;
  --ks-text-bodySm-lineHeight: 20px !important;
  --ks-text-bodySm-fontWeight: 400 !important;
  --ks-text-bodySm-letterSpacing: 0.09px !important;
  --ks-text-bodySm-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-labelLg-fontSize: 14px !important;
  --ks-text-labelLg-lineHeight: 20px !important;
  --ks-text-labelLg-fontWeight: 500 !important;
  --ks-text-labelLg-letterSpacing: 0.09px !important;
  --ks-text-labelLg-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-labelMd-fontSize: 12px !important;
  --ks-text-labelMd-lineHeight: 16px !important;
  --ks-text-labelMd-fontWeight: 500 !important;
  --ks-text-labelMd-letterSpacing: 0.16px !important;
  --ks-text-labelMd-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-text-labelSm-fontSize: 12px !important;
  --ks-text-labelSm-lineHeight: 16px !important;
  --ks-text-labelSm-fontWeight: 400 !important;
  --ks-text-labelSm-letterSpacing: 0.16px !important;
  --ks-text-labelSm-fontFamily: var(--ks-ref-text-fontFamily-text) !important;
  --ks-color-primary-fill: #009995 !important;
  --ks-color-primary-fillHover: #008581 !important;
  --ks-color-primary-fillActive: #007875 !important;
  --ks-color-primary-fillDisabled: #c3e9e7 !important;
  --ks-color-primary-onFill: white !important;
  --ks-color-primary-fillLow: #9ee1dd !important;
  --ks-color-primary-onFillLow: #002c2b !important;
  --ks-color-primary-onFillDisabled: white !important;
  --ks-color-primary-surface: white !important;
  --ks-color-primary-surface1: #f2fdfc !important;
  --ks-color-primary-surface1Hover: #e5efee !important;
  --ks-color-primary-surface1Active: #dee9e8 !important;
  --ks-color-primary-surface2: #e8fbf9 !important;
  --ks-color-primary-surface2Hover: #dbedec !important;
  --ks-color-primary-surface2Active: #d4e7e5 !important;
  --ks-color-primary-surface2Disabled: #e8fbf9 !important;
  --ks-color-primary-surface3: #d7f2f0 !important;
  --ks-color-primary-onSurface: #017976 !important;
  --ks-color-primary-onSurfaceHover: #006663 !important;
  --ks-color-primary-onSurfaceActive: #005a57 !important;
  --ks-color-primary-onSurfaceDisabled: #a9abac !important;
  --ks-color-primary-transparentFill: #01797600 !important;
  --ks-color-primary-transparentFillHover: #00666312 !important;
  --ks-color-primary-transparentFillActive: #005a5724 !important;
  --ks-color-primary-transparentFillDisabled: #01797600 !important;
  --ks-color-support-fill: #8078f6 !important;
  --ks-color-support-fillLow: #cdcfff !important;
  --ks-color-support-fillHover: #6f65e1 !important;
  --ks-color-support-fillActive: #6459d4 !important;
  --ks-color-support-fillDisabled: #dcdeff !important;
  --ks-color-support-onFill: white !important;
  --ks-color-support-onFillLow: #221f4b !important;
  --ks-color-support-onFillDisabled: white !important;
  --ks-color-support-surface: white !important;
  --ks-color-support-surface1: #fbfaff !important;
  --ks-color-support-surface2: #f5f4ff !important;
  --ks-color-support-surface2Hover: #e7e6f2 !important;
  --ks-color-support-surface2Active: #e1e0eb !important;
  --ks-color-support-surface3: #e9ebff !important;
  --ks-color-support-onSurface: #665cd6 !important;
  --ks-color-support-onSurfaceHover: #5749c2 !important;
  --ks-color-support-onSurfaceActive: #4d3cb5 !important;
  --ks-color-support-onSurfaceDisabled: #a1a1fa !important;
  --ks-color-neutral-fill: #87898b !important;
  --ks-color-neutral-fillHover: #767779 !important;
  --ks-color-neutral-fillActive: #6a6c6e !important;
  --ks-color-neutral-fillDisabled: #e1e1e2 !important;
  --ks-color-neutral-onFill: white !important;
  --ks-color-neutral-onFillDisabled: white !important;
  --ks-color-neutral-fillHigh: #262627 !important;
  --ks-color-neutral-fillHighHover: #353536 !important;
  --ks-color-neutral-fillHighActive: #3f4041 !important;
  --ks-color-neutral-fillHighDisabled: var(--ks-color-neutral-fillDisabled) !important;
  --ks-color-neutral-fillMedHigh: #404142 !important;
  --ks-color-neutral-fillMedHighHover: #505152 !important;
  --ks-color-neutral-fillMedHighActive: #5b5c5d !important;
  --ks-color-neutral-fillMedHighDisabled: var(--ks-color-neutral-fillDisabled) !important;
  --ks-color-neutral-fillLow: #d3d4d5 !important;
  --ks-color-neutral-fillLowHover: #c0c1c1 !important;
  --ks-color-neutral-fillLowActive: #b3b4b5 !important;
  --ks-color-neutral-fillLowDisabled: var(--ks-color-neutral-fillDisabled) !important;
  --ks-color-neutral-fillLowInverse: #ececed !important;
  --ks-color-neutral-fillLowInverseHover: #f2f3f3 !important;
  --ks-color-neutral-fillLowInverseActive: #f8f8f9 !important;
  --ks-color-neutral-onFillLow: #262627 !important;
  --ks-color-neutral-surface: white !important;
  --ks-color-neutral-surfaceHover: #f1f2f2 !important;
  --ks-color-neutral-surfaceActive: #ebebeb !important;
  --ks-color-neutral-surface1: #f8f8f9 !important;
  --ks-color-neutral-surface1Hover: #ebebeb !important;
  --ks-color-neutral-surface1Active: #e4e4e5 !important;
  --ks-color-neutral-surface2: #f2f3f3 !important;
  --ks-color-neutral-surface2Hover: #e5e5e6 !important;
  --ks-color-neutral-surface2Active: #dfdfdf !important;
  --ks-color-neutral-surface2Disabled: #f8f8f9 !important;
  --ks-color-neutral-surface3: #ececed !important;
  --ks-color-neutral-surface3Hover: #dfdfe0 !important;
  --ks-color-neutral-surface3Active: #d8d9d9 !important;
  --ks-color-neutral-surface3Disabled: #f8f8f9 !important;
  --ks-color-neutral-onSurface: #6d6e70 !important;
  --ks-color-neutral-onSurfaceHover: #5c5d5f !important;
  --ks-color-neutral-onSurfaceActive: #515254 !important;
  --ks-color-neutral-onSurfaceDisabled: #a9abac !important;
  --ks-color-neutral-highOnSurface: #121415 !important;
  --ks-color-neutral-highOnSurfaceHover: #242728 !important;
  --ks-color-neutral-highOnSurfaceActive: #2e3132 !important;
  --ks-color-neutral-highOnSurfaceDisabled: var(--ks-color-neutral-onSurfaceDisabled) !important;
  --ks-color-neutral-lowOnSurface: #87898B !important;
  --ks-color-neutral-lowOnSurfaceHover: #757779 !important;
  --ks-color-neutral-lowOnSurfaceActive: 6A6C6E !important;
  --ks-color-neutral-lowOnSurfaceDisabled: var(--ks-color-neutral-onSurfaceDisabled) !important;
  --ks-color-neutral-overlay: #26262780 !important;
  --ks-color-neutral-overlayHigh: #262627b3 !important;
  --ks-color-neutral-overlayHighDisabled: #e1e1e2 !important;
  --ks-color-neutral-overlayLow: #26262726 !important;
  --ks-color-neutral-overlayLowDisabled: #12141512 !important;
  --ks-color-neutral-transparentFill: #12141500 !important;
  --ks-color-neutral-transparentFillHover: #12141512 !important;
  --ks-color-neutral-transparentFillActive: #12141524 !important;
  --ks-color-neutral-transparentFillDisabled: #12141500 !important;
  --ks-color-error-fill: #ef504b !important;
  --ks-color-error-fillHover: #da3a39 !important;
  --ks-color-error-fillActive: #cb2a2d !important;
  --ks-color-error-fillDisabled: #ffd8d2 !important;
  --ks-color-error-fillMedHigh: #ca242e !important;
  --ks-color-error-fillMedHighHover: #b3001c !important;
  --ks-color-error-fillMedHighActive: #9f0018 !important;
  --ks-color-error-onFill: white !important;
  --ks-color-error-fillLow: #ffc6bd !important;
  --ks-color-error-onFillLow: #4e0c0b !important;
  --ks-color-error-surface: white !important;
  --ks-color-error-surface1: #fff9f8 !important;
  --ks-color-error-surface2: #fff2f0 !important;
  --ks-color-error-surface2Hover: #f2e5e2 !important;
  --ks-color-error-surface2Active: #ebdedc !important;
  --ks-color-error-surface3: #ffe7e3 !important;
  --ks-color-error-onSurface: #ca242e !important;
  --ks-color-error-onSurfaceHover: #b3001c !important;
  --ks-color-error-onSurfaceActive: #9f0018 !important;
  --ks-color-warning-fill: #d2a106 !important;
  --ks-color-warning-fillHover: #bc8f00 !important;
  --ks-color-warning-fillActive: #ad8400 !important;
  --ks-color-warning-fillDisabled: #fbde89 !important;
  --ks-color-warning-onFill: white !important;
  --ks-color-warning-fillLow: #fad253 !important;
  --ks-color-warning-onFillLow: #201507 !important;
  --ks-color-warning-surface: white !important;
  --ks-color-warning-surface1: #fffbec !important;
  --ks-color-warning-surface2: #fdf5da !important;
  --ks-color-warning-surface2Hover: #f0e7cd !important;
  --ks-color-warning-surface2Active: #e9e1c7 !important;
  --ks-color-warning-surface3: #fbebbc !important;
  --ks-color-warning-onSurface: #8d670b !important;
  --ks-color-warning-onSurfaceHover: #785600 !important;
  --ks-color-warning-onSurfaceActive: #6a4c00 !important;
  --ks-color-success-fill: #2a9c49 !important;
  --ks-color-success-onFill: white !important;
  --ks-color-success-fillHover: #068a37 !important;
  --ks-color-success-fillActive: #007c30 !important;
  --ks-color-success-fillDisabled: #baecbf !important;
  --ks-color-success-fillLow: #99e4a2 !important;
  --ks-color-success-onFillLow: #052d0f !important;
  --ks-color-success-surface: white !important;
  --ks-color-success-surface1: #effff0 !important;
  --ks-color-success-surface2: #e7fde8 !important;
  --ks-color-success-surface2Hover: #daf0db !important;
  --ks-color-success-surface2Active: #d3e9d5 !important;
  --ks-color-success-surface3: #ddf9df !important;
  --ks-color-success-onSurface: #057e33 !important;
  --ks-color-success-onSurfaceHover: #006b29 !important;
  --ks-color-success-onSurfaceActive: #005e23 !important;
  --ks-color-data-data1-fill: #8987f6 !important;
  --ks-color-data-data1-fillDisabled: #dcdeff !important;
  --ks-color-data-data1-fillHigh: #665cd6 !important;
  --ks-color-data-data1-surface: #a1a1fa33 !important;
  --ks-color-data-data1-surfaceDisabled: #a1a1fa0d !important;
  --ks-color-data-data2-fill: #00577D !important;
  --ks-color-data-data2-fillDisabled: #CAE6FC !important;
  --ks-color-data-data2-surface: #7cc0ed33 !important;
  --ks-color-data-data2-surfaceDisabled: #7cc0ed0d !important;
  --ks-color-data-data3-fill: #E3CBE1 !important;
  --ks-color-data-data3-fillDisabled: #EBDCE9 !important;
  --ks-color-data-data3-fillMedHigh: #B87BB4 !important;
  --ks-color-data-data3-fillMedHighDisabled: #EBDCE9 !important;
  --ks-color-data-data3-fillHigh: #442942 !important;
  --ks-color-data-data3-surface: #d19dcd33 !important;
  --ks-color-data-data3-surfaceDisabled: #d19dcd0d !important;
  --ks-color-data-data4-fill: #A45626 !important;
  --ks-color-data-data4-fillDisabled: #F8DBCC !important;
  --ks-color-data-data4-fillHigh: #623216 !important;
  --ks-color-data-data4-surface: #f69c6b33 !important;
  --ks-color-data-data4-surfaceDisabled: #f69c6b0d !important;
  --ks-color-data-data5-fill: #98CCF0 !important;
  --ks-color-data-data5-fillDisabled: #CAE6FC !important;
  --ks-color-data-data5-fillMedHigh: #3D9FD4 !important;
  --ks-color-data-data5-fillMedHighDisabled: #CAE6FC !important;
  --ks-color-data-data5-fillHigh: #0074A6 !important;
  --ks-color-data-data5-surface: #b0dbfa33 !important;
  --ks-color-data-data5-surfaceDisabled: #b0dbfa0d !important;
  --ks-color-data-data6-fill: #5548bd !important;
  --ks-color-data-data6-fillDisabled: #5548bd40 !important;
  --ks-color-data-data6-fillHigh: #473aa5 !important;
  --ks-color-data-data6-surface: #cdcfff33 !important;
  --ks-color-data-data6-surfaceDisabled: #cdcfff0d !important;
  --ks-color-data-data7-fill: #F8DBCC !important;
  --ks-color-data-data7-fillDisabled: #f8dbcc40 !important;
  --ks-color-data-data7-fillMedHigh: #D7763E !important;
  --ks-color-data-data7-fillMedHighDisabled: #d7763e40 !important;
  --ks-color-data-data7-fillHigh: #A45626 !important;
  --ks-color-data-data7-surface: #f7c9b133 !important;
  --ks-color-data-data7-surfaceDisabled: #f7c9b10d !important;
  --ks-color-data-data8-fill: #664163 !important;
  --ks-color-data-data8-fillDisabled: #66416340 !important;
  --ks-color-data-data8-fillHigh: #533451 !important;
  --ks-color-data-data8-surface: #e3cbe133 !important;
  --ks-color-data-data8-surfaceDisabled: #e3cbe10d !important;
  --ks-color-data-data9-fill: #babdff !important;
  --ks-color-data-data9-fillDisabled: #babdff40 !important;
  --ks-color-data-data9-fillMedHigh: #3a3086 !important;
  --ks-color-data-data9-fillMedHighDisabled: #3a308640 !important;
  --ks-color-data-data9-fillHigh: #221f4b !important;
  --ks-color-data-data9-surface: #8987f633 !important;
  --ks-color-data-data9-surfaceDisabled: #8987f60d !important;
  --ks-color-data-data9-onSurface: #8987f6 !important;
  --ks-color-data-success-fill: #2a9c49 !important;
  --ks-color-data-success-fillHigh: #035d23 !important;
  --ks-color-data-success-fillDisabled: #2a9c4940 !important;
  --ks-color-data-success-surface: #55bd6933 !important;
  --ks-color-data-success-surfaceDisabled: #55bd690d !important;
  --ks-color-data-warning-fill: #f0c133 !important;
  --ks-color-data-warning-fillDisabled: #f0c13340 !important;
  --ks-color-data-warning-fillMedHigh: #ba8b04 !important;
  --ks-color-data-warning-fillMedHighDisabled: #ba8b0440 !important;
  --ks-color-data-warning-surface: #fad25333 !important;
  --ks-color-data-warning-surfaceDisabled: #fad2530d !important;
  --ks-color-data-error-fill: #f78a7e !important;
  --ks-color-data-error-fillDisabled: #f78a7e40 !important;
  --ks-color-data-error-fillMedHigh: #f4655b !important;
  --ks-color-data-error-fillMedHighDisabled: #f4655b40 !important;
  --ks-color-data-error-surface: #f78a7e33 !important;
  --ks-color-data-error-surfaceDisabled: #f78a7e0d !important;
  --ks-color-data-neutral-fill: #728DEC !important;
  --ks-color-data-neutral-fillDisabled: #728dec40 !important;
  --ks-color-data-neutral-fillMedHigh: #5e5f61 !important;
  --ks-color-data-neutral-fillMedHighDisabled: #5e5f6140 !important;
  --ks-color-data-neutral-surface: #a9abac33 !important;
  --ks-color-data-neutral-surfaceDisabled: #a9abac0d !important;
  --ks-color-ai-fill: linear-gradient(90deg, #31bdb8 0%, #95AEFE 93.64%, #a1a1fa 186.35%) !important;
}
    html[data-theme="dark"] {
  --ks-color-primary-fill: #31bdb8 !important;
  --ks-color-primary-fillHover: #4bd0cb !important;
  --ks-color-primary-fillActive: #5bddd8 !important;
  --ks-color-primary-fillDisabled: #0E2F2F !important;
  --ks-color-primary-onFill: #004a48 !important;
  --ks-color-primary-fillLow: #009995 !important;
  --ks-color-primary-onFillLow: #d7f2f0 !important;
  --ks-color-primary-onFillDisabled: #017976 !important;
  --ks-color-primary-surface: #001c1b !important;
  --ks-color-primary-surface1: #002c2b !important;
  --ks-color-primary-surface1Hover: #0c3635 !important;
  --ks-color-primary-surface1Active: #123c3a !important;
  --ks-color-primary-surface2: #003b3a !important;
  --ks-color-primary-surface2Hover: #0f4644 !important;
  --ks-color-primary-surface2Active: #164c49 !important;
  --ks-color-primary-surface2Disabled: #054645 !important;
  --ks-color-primary-surface3: #004a48 !important;
  --ks-color-primary-onSurface: #6fd5d1 !important;
  --ks-color-primary-onSurfaceHover: #83e9e4 !important;
  --ks-color-primary-onSurfaceActive: #91f7f2 !important;
  --ks-color-primary-onSurfaceDisabled: #006b68 !important;
  --ks-color-primary-transparentFill: #01797600 !important;
  --ks-color-primary-transparentFillHover: #268b8812 !important;
  --ks-color-primary-transparentFillActive: #36989424 !important;
  --ks-color-primary-transparentFillDisabled: #01797600 !important;
  --ks-color-support-fill: #a1a1fa !important;
  --ks-color-support-fillLow: #5548bd !important;
  --ks-color-support-fillHover: #b5b7ff !important;
  --ks-color-support-fillActive: #c4c6ff !important;
  --ks-color-support-fillDisabled: #8078f6 !important;
  --ks-color-support-onFill: white !important;
  --ks-color-support-onFillLow: #e9ebff !important;
  --ks-color-support-onFillDisabled: white !important;
  --ks-color-support-surface: #15142b !important;
  --ks-color-support-surface1: #2e286a !important;
  --ks-color-support-surface2: #3a3086 !important;
  --ks-color-support-surface2Hover: #443c93 !important;
  --ks-color-support-surface2Active: #494299 !important;
  --ks-color-support-surface3: #473aa5 !important;
  --ks-color-support-onSurface: #babdff !important;
  --ks-color-support-onSurfaceHover: #d0d3ff !important;
  --ks-color-support-onSurfaceActive: #e0e2ff !important;
  --ks-color-support-onSurfaceDisabled: #a1a1fa !important;
  --ks-color-neutral-fill: #6d6e70 !important;
  --ks-color-neutral-fillHover: #7e8082 !important;
  --ks-color-neutral-fillActive: #8a8c8e !important;
  --ks-color-neutral-fillDisabled: #4f5051 !important;
  --ks-color-neutral-onFill: #121415 !important;
  --ks-color-neutral-onFillDisabled: white !important;
  --ks-color-neutral-fillHigh: #e1e1e2 !important;
  --ks-color-neutral-fillHighHover: #cdcece !important;
  --ks-color-neutral-fillHighActive: #c0c1c1 !important;
  --ks-color-neutral-fillHighDisabled: var(--ks-color-neutral-fillDisabled) !important;
  --ks-color-neutral-fillMedHigh: #c3c4c5 !important;
  --ks-color-neutral-fillMedHighHover: #b0b1b2 !important;
  --ks-color-neutral-fillMedHighActive: #a4a4a6 !important;
  --ks-color-neutral-fillMedHighDisabled: var(--ks-color-neutral-fillDisabled) !important;
  --ks-color-neutral-fillLow: #343435 !important;
  --ks-color-neutral-fillLowHover: #434444 !important;
  --ks-color-neutral-fillLowActive: #4e4e4f !important;
  --ks-color-neutral-fillLowDisabled: #343435 !important;
  --ks-color-neutral-fillLowInverse: #262627 !important;
  --ks-color-neutral-fillLowInverseHover: #6F7072 !important;
  --ks-color-neutral-fillLowInverseActive: #7B7C7E !important;
  --ks-color-neutral-onFillLow: #ececed !important;
  --ks-color-neutral-surface: #121415 !important;
  --ks-color-neutral-surfaceHover: #343435 !important;
  --ks-color-neutral-surfaceActive: #202223 !important;
  --ks-color-neutral-surface1: #262627 !important;
  --ks-color-neutral-surface1Hover: #2f3031 !important;
  --ks-color-neutral-surface1Active: #353536 !important;
  --ks-color-neutral-surface2: #343435 !important;
  --ks-color-neutral-surface2Hover: #3e3e3f !important;
  --ks-color-neutral-surface2Active: #434444 !important;
  --ks-color-neutral-surface2Disabled: #404142 !important;
  --ks-color-neutral-surface3: #404142 !important;
  --ks-color-neutral-surface3Hover: #4b4c4c !important;
  --ks-color-neutral-surface3Active: #505152 !important;
  --ks-color-neutral-surface3Disabled: #404142 !important;
  --ks-color-neutral-onSurface: #a9abac !important;
  --ks-color-neutral-onSurfaceHover: #bcbebf !important;
  --ks-color-neutral-onSurfaceActive: #c9cbcc !important;
  --ks-color-neutral-onSurfaceDisabled: #404142 !important;
  --ks-color-neutral-highOnSurface: #ececed !important;
  --ks-color-neutral-highOnSurfaceHover: #d2d2d3 !important;
  --ks-color-neutral-highOnSurfaceActive: #c5c5c6 !important;
  --ks-color-neutral-highOnSurfaceDisabled: #4f5051 !important;
  --ks-color-neutral-lowOnSurface: #87898b !important;
  --ks-color-neutral-lowOnSurfaceHover: #757779 !important;
  --ks-color-neutral-lowOnSurfaceActive: #6A6C6E !important;
  --ks-color-neutral-lowOnSurfaceDisabled: #a9abac !important;
  --ks-color-neutral-overlay: #E7E7E780 !important;
  --ks-color-neutral-overlayHigh: #F4F4F4b2 !important;
  --ks-color-neutral-overlayHighDisabled: #343435 !important;
  --ks-color-neutral-overlayLow: #E7E7E726 !important;
  --ks-color-neutral-overlayLowDisabled: #EFEFEF11 !important;
  --ks-color-neutral-transparentFill: #12141500 !important;
  --ks-color-neutral-transparentFillHover: #12141512 !important;
  --ks-color-neutral-transparentFillActive: #12141524 !important;
  --ks-color-neutral-transparentFillDisabled: #12141500 !important;
  --ks-color-error-fill: #ef504b !important;
  --ks-color-error-fillHover: #ff6b63 !important;
  --ks-color-error-fillActive: #ff857b !important;
  --ks-color-error-fillDisabled: #ffd8d2 !important;
  --ks-color-error-fillMedHigh: #ca242e !important;
  --ks-color-error-fillMedHighHover: #df3d40 !important;
  --ks-color-error-fillMedHighActive: #ee4c4b !important;
  --ks-color-error-onFill: white !important;
  --ks-color-error-fillLow: #b51d27 !important;
  --ks-color-error-onFillLow: #ffd8d2 !important;
  --ks-color-error-surface: white !important;
  --ks-color-error-surface1: #801118 !important;
  --ks-color-error-surface2: #4e0c0b !important;
  --ks-color-error-surface2Hover: #5a1815 !important;
  --ks-color-error-surface2Active: #601e1a !important;
  --ks-color-error-surface3: #2b0e07 !important;
  --ks-color-error-onSurface: #f78a7e !important;
  --ks-color-error-onSurfaceHover: #ffa69a !important;
  --ks-color-error-onSurfaceActive: #ffbab0 !important;
  --ks-color-warning-fill: #f0c133 !important;
  --ks-color-warning-fillHover: #ffd667 !important;
  --ks-color-warning-fillActive: #ffe6a5 !important;
  --ks-color-warning-fillDisabled: #fbde89 !important;
  --ks-color-warning-onFill: white !important;
  --ks-color-warning-fillLow: #8d670b !important;
  --ks-color-warning-onFillLow: #fbde89 !important;
  --ks-color-warning-surface: white !important;
  --ks-color-warning-surface1: #573b09 !important;
  --ks-color-warning-surface2: #462f08 !important;
  --ks-color-warning-surface2Hover: #513914 !important;
  --ks-color-warning-surface2Active: #573e1a !important;
  --ks-color-warning-surface3: #342209 !important;
  --ks-color-warning-onSurface: #fbde89 !important;
  --ks-color-warning-onSurfaceHover: #fff4d3 !important;
  --ks-color-warning-onSurfaceActive: #ffffff !important;
  --ks-color-success-fill: #35a752 !important;
  --ks-color-success-onFill: white !important;
  --ks-color-success-fillHover: #4cba64 !important;
  --ks-color-success-fillActive: #5ac770 !important;
  --ks-color-success-fillDisabled: #baecbf !important;
  --ks-color-success-fillLow: #056e2b !important;
  --ks-color-success-onFillLow: #7ad889 !important;
  --ks-color-success-surface: white !important;
  --ks-color-success-surface1: #034c1c !important;
  --ks-color-success-surface2: #033d15 !important;
  --ks-color-success-surface2Hover: #124820 !important;
  --ks-color-success-surface2Active: #184e25 !important;
  --ks-color-success-surface3: #052d0f !important;
  --ks-color-success-onSurface: #7ad889 !important;
  --ks-color-success-onSurfaceHover: #8eeb9c !important;
  --ks-color-success-onSurfaceActive: #9bf9a8 !important;
  --ks-color-data-data1-fill: #8987f6 !important;
  --ks-color-data-data1-fillDisabled: #dcdeff !important;
  --ks-color-data-data1-fillHigh: #665cd6 !important;
  --ks-color-data-data1-surface: #a1a1fa33 !important;
  --ks-color-data-data1-surfaceDisabled: #a1a1fa0d !important;
  --ks-color-data-data2-fill: #00577D !important;
  --ks-color-data-data2-fillDisabled: #CAE6FC !important;
  --ks-color-data-data2-surface: #7cc0ed33 !important;
  --ks-color-data-data2-surfaceDisabled: #7cc0ed0d !important;
  --ks-color-data-data3-fill: #E3CBE1 !important;
  --ks-color-data-data3-fillDisabled: #EBDCE9 !important;
  --ks-color-data-data3-fillMedHigh: #B87BB4 !important;
  --ks-color-data-data3-fillMedHighDisabled: #EBDCE9 !important;
  --ks-color-data-data3-fillHigh: #442942 !important;
  --ks-color-data-data3-surface: #d19dcd33 !important;
  --ks-color-data-data3-surfaceDisabled: #d19dcd0d !important;
  --ks-color-data-data4-fill: #A45626 !important;
  --ks-color-data-data4-fillDisabled: #F8DBCC !important;
  --ks-color-data-data4-fillHigh: #623216 !important;
  --ks-color-data-data4-surface: #f69c6b33 !important;
  --ks-color-data-data4-surfaceDisabled: #f69c6b0d !important;
  --ks-color-data-data5-fill: #98CCF0 !important;
  --ks-color-data-data5-fillDisabled: #CAE6FC !important;
  --ks-color-data-data5-fillMedHigh: #3D9FD4 !important;
  --ks-color-data-data5-fillMedHighDisabled: #CAE6FC !important;
  --ks-color-data-data5-fillHigh: #0074A6 !important;
  --ks-color-data-data5-surface: #b0dbfa33 !important;
  --ks-color-data-data5-surfaceDisabled: #b0dbfa0d !important;
  --ks-color-data-data6-fill: #5548bd !important;
  --ks-color-data-data6-fillDisabled: #5548bd40 !important;
  --ks-color-data-data6-fillHigh: #473aa5 !important;
  --ks-color-data-data6-surface: #cdcfff33 !important;
  --ks-color-data-data6-surfaceDisabled: #cdcfff0d !important;
  --ks-color-data-data7-fill: #F8DBCC !important;
  --ks-color-data-data7-fillDisabled: #f8dbcc40 !important;
  --ks-color-data-data7-fillMedHigh: #D7763E !important;
  --ks-color-data-data7-fillMedHighDisabled: #d7763e40 !important;
  --ks-color-data-data7-fillHigh: #A45626 !important;
  --ks-color-data-data7-surface: #f7c9b133 !important;
  --ks-color-data-data7-surfaceDisabled: #f7c9b10d !important;
  --ks-color-data-data8-fill: #664163 !important;
  --ks-color-data-data8-fillDisabled: #66416340 !important;
  --ks-color-data-data8-fillHigh: #533451 !important;
  --ks-color-data-data8-surface: #e3cbe133 !important;
  --ks-color-data-data8-surfaceDisabled: #e3cbe10d !important;
  --ks-color-data-data9-fill: #babdff !important;
  --ks-color-data-data9-fillDisabled: #babdff40 !important;
  --ks-color-data-data9-fillMedHigh: #3a3086 !important;
  --ks-color-data-data9-fillMedHighDisabled: #3a308640 !important;
  --ks-color-data-data9-fillHigh: #221f4b !important;
  --ks-color-data-data9-surface: #8987f633 !important;
  --ks-color-data-data9-surfaceDisabled: #8987f60d !important;
  --ks-color-data-data9-onSurface: #8987f6 !important;
  --ks-color-data-success-fill: #2a9c49 !important;
  --ks-color-data-success-fillHigh: #035d23 !important;
  --ks-color-data-success-fillDisabled: #2a9c4940 !important;
  --ks-color-data-success-surface: #55bd6933 !important;
  --ks-color-data-success-surfaceDisabled: #55bd690d !important;
  --ks-color-data-warning-fill: #f0c133 !important;
  --ks-color-data-warning-fillDisabled: #f0c13340 !important;
  --ks-color-data-warning-fillMedHigh: #ba8b04 !important;
  --ks-color-data-warning-fillMedHighDisabled: #ba8b0440 !important;
  --ks-color-data-warning-surface: #fad25333 !important;
  --ks-color-data-warning-surfaceDisabled: #fad2530d !important;
  --ks-color-data-error-fill: #f78a7e !important;
  --ks-color-data-error-fillDisabled: #f78a7e40 !important;
  --ks-color-data-error-fillMedHigh: #f4655b !important;
  --ks-color-data-error-fillMedHighDisabled: #f4655b40 !important;
  --ks-color-data-error-surface: #f78a7e33 !important;
  --ks-color-data-error-surfaceDisabled: #f78a7e0d !important;
  --ks-color-data-neutral-fill: #728DEC !important;
  --ks-color-data-neutral-fillDisabled: #728dec40 !important;
  --ks-color-data-neutral-fillMedHigh: #5e5f61 !important;
  --ks-color-data-neutral-fillMedHighDisabled: #5e5f6140 !important;
  --ks-color-data-neutral-surface: #a9abac33 !important;
  --ks-color-data-neutral-surfaceDisabled: #a9abac0d !important;
  --ks-color-ai-fill: linear-gradient(90deg, #31bdb8 0%, #95AEFE 93.64%, #a1a1fa 186.35%) !important;
  --ks-ref-color-white: white !important;
  --ks-ref-color-primary-150: #001c1b !important;
  --ks-ref-color-primary-200: #002c2b !important;
  --ks-ref-color-primary-250: #003b3a !important;
  --ks-ref-color-primary-300: #004a48 !important;
  --ks-ref-color-primary-350: #005a58 !important;
  --ks-ref-color-primary-400: #006b68 !important;
  --ks-ref-color-primary-450: #017976 !important;
  --ks-ref-color-primary-500: #009995 !important;
  --ks-ref-color-primary-550: #00a5a0 !important;
  --ks-ref-color-primary-650: #31bdb8 !important;
  --ks-ref-color-primary-750: #6fd5d1 !important;
  --ks-ref-color-primary-850: #9ee1dd !important;
  --ks-ref-color-primary-900: #c3e9e7 !important;
  --ks-ref-color-primary-950: #d7f2f0 !important;
  --ks-ref-color-primary-975: #e8fbf9 !important;
  --ks-ref-color-primary-995: #f2fdfc !important;
  --ks-ref-color-primary-1000: white !important;
  --ks-ref-color-support-150: #15142b !important;
  --ks-ref-color-support-200: #221f4b !important;
  --ks-ref-color-support-250: #2e286a !important;
  --ks-ref-color-support-300: #3a3086 !important;
  --ks-ref-color-support-350: #473aa5 !important;
  --ks-ref-color-support-400: #5548bd !important;
  --ks-ref-color-support-450: #665cd6 !important;
  --ks-ref-color-support-500: #8078f6 !important;
  --ks-ref-color-support-550: #8987f6 !important;
  --ks-ref-color-support-650: #a1a1fa !important;
  --ks-ref-color-support-750: #babdff !important;
  --ks-ref-color-support-850: #cdcfff !important;
  --ks-ref-color-support-900: #dcdeff !important;
  --ks-ref-color-support-950: #e9ebff !important;
  --ks-ref-color-support-975: #f5f4ff !important;
  --ks-ref-color-support-995: #fbfaff !important;
  --ks-ref-color-support-1000: white !important;
  --ks-ref-color-neutral-150: #121415 !important;
  --ks-ref-color-neutral-200: #262627 !important;
  --ks-ref-color-neutral-250: #343435 !important;
  --ks-ref-color-neutral-300: #404142 !important;
  --ks-ref-color-neutral-350: #4f5051 !important;
  --ks-ref-color-neutral-400: #5e5f61 !important;
  --ks-ref-color-neutral-450: #6d6e70 !important;
  --ks-ref-color-neutral-500: #87898b !important;
  --ks-ref-color-neutral-550: #929496 !important;
  --ks-ref-color-neutral-650: #a9abac !important;
  --ks-ref-color-neutral-750: #c3c4c5 !important;
  --ks-ref-color-neutral-850: #d3d4d5 !important;
  --ks-ref-color-neutral-900: #e1e1e2 !important;
  --ks-ref-color-neutral-950: #ececed !important;
  --ks-ref-color-neutral-975: #f2f3f3 !important;
  --ks-ref-color-neutral-995: #f8f8f9 !important;
  --ks-ref-color-neutral-1000: white !important;
  --ks-ref-color-error-150: #2b0e07 !important;
  --ks-ref-color-error-200: #4e0c0b !important;
  --ks-ref-color-error-250: #680e13 !important;
  --ks-ref-color-error-300: #801118 !important;
  --ks-ref-color-error-350: #9b1720 !important;
  --ks-ref-color-error-400: #b51d27 !important;
  --ks-ref-color-error-450: #ca242e !important;
  --ks-ref-color-error-500: #ef504b !important;
  --ks-ref-color-error-550: #f4655b !important;
  --ks-ref-color-error-650: #f78a7e !important;
  --ks-ref-color-error-750: #ffafa3 !important;
  --ks-ref-color-error-850: #ffc6bd !important;
  --ks-ref-color-error-900: #ffd8d2 !important;
  --ks-ref-color-error-950: #ffe7e3 !important;
  --ks-ref-color-error-975: #fff2f0 !important;
  --ks-ref-color-error-995: #fff9f8 !important;
  --ks-ref-color-error-1000: white !important;
  --ks-ref-color-warning-150: #201507 !important;
  --ks-ref-color-warning-200: #342209 !important;
  --ks-ref-color-warning-250: #462f08 !important;
  --ks-ref-color-warning-300: #573b09 !important;
  --ks-ref-color-warning-350: #68490b !important;
  --ks-ref-color-warning-400: #7a580e !important;
  --ks-ref-color-warning-450: #8d670b !important;
  --ks-ref-color-warning-500: #ad821a !important;
  --ks-ref-color-warning-550: #ba8b04 !important;
  --ks-ref-color-warning-650: #d2a106 !important;
  --ks-ref-color-warning-750: #f0c133 !important;
  --ks-ref-color-warning-850: #fad253 !important;
  --ks-ref-color-warning-900: #fbde89 !important;
  --ks-ref-color-warning-950: #fbebbc !important;
  --ks-ref-color-warning-975: #fdf5da !important;
  --ks-ref-color-warning-995: #fffbec !important;
  --ks-ref-color-warning-1000: white !important;
  --ks-ref-color-success-150: #051c06 !important;
  --ks-ref-color-success-200: #052d0f !important;
  --ks-ref-color-success-250: #033d15 !important;
  --ks-ref-color-success-300: #034c1c !important;
  --ks-ref-color-success-350: #035d23 !important;
  --ks-ref-color-success-400: #056e2b !important;
  --ks-ref-color-success-450: #057e33 !important;
  --ks-ref-color-success-500: #2a9c49 !important;
  --ks-ref-color-success-550: #35a752 !important;
  --ks-ref-color-success-650: #55bd69 !important;
  --ks-ref-color-success-750: #7ad889 !important;
  --ks-ref-color-success-850: #99e4a2 !important;
  --ks-ref-color-success-900: #baecbf !important;
  --ks-ref-color-success-950: #ddf9df !important;
  --ks-ref-color-success-975: #e7fde8 !important;
  --ks-ref-color-success-995: #effff0 !important;
  --ks-ref-color-success-1000: white !important;
  --ks-ref-color-indigo-150: #0F162D !important;
  --ks-ref-color-indigo-200: #1C2541 !important;
  --ks-ref-color-indigo-250: #263157 !important;
  --ks-ref-color-indigo-300: #2F3D6F !important;
  --ks-ref-color-indigo-350: #37498D !important;
  --ks-ref-color-indigo-400: #4156A8 !important;
  --ks-ref-color-indigo-450: #4D65C3 !important;
  --ks-ref-color-indigo-500: #6480E6 !important;
  --ks-ref-color-indigo-550: #728DEC !important;
  --ks-ref-color-indigo-650: #95AEFE !important;
  --ks-ref-color-indigo-750: #AAC4FC !important;
  --ks-ref-color-indigo-850: #C2D5FB !important;
  --ks-ref-color-indigo-900: #D6E2FA !important;
  --ks-ref-color-indigo-950: #E3EEFF !important;
  --ks-ref-color-indigo-975: #F0F6FF !important;
  --ks-ref-color-indigo-995: #F8FBFF !important;
  --ks-ref-color-blue-150: #001A2B !important;
  --ks-ref-color-blue-200: #012B3E !important;
  --ks-ref-color-blue-250: #003953 !important;
  --ks-ref-color-blue-300: #044765 !important;
  --ks-ref-color-blue-350: #00577D !important;
  --ks-ref-color-blue-400: #006697 !important;
  --ks-ref-color-blue-450: #0074A6 !important;
  --ks-ref-color-blue-500: #2D94C8 !important;
  --ks-ref-color-blue-550: #3D9FD4 !important;
  --ks-ref-color-blue-650: #7CC0ED !important;
  --ks-ref-color-blue-750: #98CCF0 !important;
  --ks-ref-color-blue-850: #B0DBFA !important;
  --ks-ref-color-blue-900: #CAE6FC !important;
  --ks-ref-color-blue-950: #E3F3FF !important;
  --ks-ref-color-blue-975: #EDF7FE !important;
  --ks-ref-color-blue-995: #F7FBFF !important;
  --ks-ref-color-pink-150: #20111F !important;
  --ks-ref-color-pink-200: #331E31 !important;
  --ks-ref-color-pink-250: #442942 !important;
  --ks-ref-color-pink-300: #533451 !important;
  --ks-ref-color-pink-350: #664163 !important;
  --ks-ref-color-pink-400: #784D75 !important;
  --ks-ref-color-pink-450: #8B5A88 !important;
  --ks-ref-color-pink-500: #AA72A7 !important;
  --ks-ref-color-pink-550: #B87BB4 !important;
  --ks-ref-color-pink-650: #D19DCD !important;
  --ks-ref-color-pink-750: #DAB6D7 !important;
  --ks-ref-color-pink-850: #E3CBE1 !important;
  --ks-ref-color-pink-900: #EBDCE9 !important;
  --ks-ref-color-pink-950: #F2EAF1 !important;
  --ks-ref-color-pink-975: #F7F4F7 !important;
  --ks-ref-color-pink-995: #FCFAFB !important;
  --ks-ref-color-orange-150: #280F03 !important;
  --ks-ref-color-orange-200: #3B1E0E !important;
  --ks-ref-color-orange-250: #4F2913 !important;
  --ks-ref-color-orange-300: #623216 !important;
  --ks-ref-color-orange-350: #773E1D !important;
  --ks-ref-color-orange-400: #8D4921 !important;
  --ks-ref-color-orange-450: #A45626 !important;
  --ks-ref-color-orange-500: #C86D37 !important;
  --ks-ref-color-orange-550: #D7763E !important;
  --ks-ref-color-orange-650: #F69C6B !important;
  --ks-ref-color-orange-750: #F6B28E !important;
  --ks-ref-color-orange-850: #F7C9B1 !important;
  --ks-ref-color-orange-900: #F8DBCC !important;
  --ks-ref-color-orange-950: #F9E9E1 !important;
  --ks-ref-color-orange-975: #FBF3EF !important;
  --ks-ref-color-orange-995: #FDFAF8 !important;
}